<!-- templates/user_form.html -->

{% load rest_framework %}

<html>
<head>
    <title>Estimate Form</title>
</head>
<body>
    <h1>Estimate Form</h1>
    <ul>
        {% for estimate in estimates %}
        <li>{{ estimate.estimate_number }}</li>
        {% endfor %}
    </ul>

    {% comment %} <form action="{% url 'create-estimate' %}" method="POST">
        {% csrf_token %}
        {% render_form serializer %}
        {{ serializer.as_p }}
        <input type="submit" value="Save">
    </form> {% endcomment %}
</body>
</html>
